header {
  position: sticky;
  top: 0;
  grid-area: topbar;
  display: flex;
  justify-content: space-between;
  background-color: color(bg);
  align-items: center;
  padding: 1% 2% 0 2%;
  transition: top 0.3s;
  z-index: 999;
  animation: 3s linear 0s 1 longFadeIn;

  #logo {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 10px;

    a {
      color: color(text);
      text-decoration: none;

      img {
        width: 30px;
        transition: all 0.3s ease-out;
      }
      img:hover {
        transform: scale(1.5);
      }
    }
  }

  #theme-switch {
    border: none;
    text-decoration: none;
    background-color: color(bg);
    color: color(text);

    cursor: pointer;
  }
  #theme-switch:hover {
    text-decoration: line-through;
    opacity: 0.5;
    animation: strike 0.25s ease-out;
  }
}

@media only screen and (min-width: 1360px) {
  header {
    font-size: 16px;

    #logo {
      display: block;
      letter-spacing: 4pt;
      transform: translateX(50px);
      transition: all 0.5s linear;
    }

    #logo:hover {
      color: blue;
    }
  }
}
