$font: Arial, Helvetica, sans-serif;
$font-sizes: (
  'regular': 16px,
  'medium': 20px,
  'large': 2.48vw,
  'enormous': 5.5vw,
);
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'max': 1000,
);

:root {
  --text-color: white;
  --bg-color: #272727;
}
