@import './resets';
@import './variables';
@import './functions';
@import './header';
@import './nav';
@import './article';

body {
  background-color: color(bg);
  color: color(text);
  font-family: $font;
  font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
}
main {
  display: grid;
  grid-template-areas:
    'navbar topbar'
    'content content'
    'footer footer';
  grid-template-columns: 50px auto;
  grid-template-rows: 50px auto 50px;
}

footer {
  grid-area: footer;
  font-style: italic;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s linear 0s 1 longFadeIn;
}

#arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: color(text);
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

#arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

@media only screen and (min-width: 1360px) {
  main {
    font-size: 16px;
    display: grid;
    grid-template-areas:
      'topbar topbar'
      'navbar content'
      'footer footer';
    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto 50px;
  }

  footer {
    font-size: 16px;
  }
}
